<div class="row">
  <div class="vspace">
    <h1>
      Toggle: {{toggle?.Id}}
      <a routerLink="edit" class="pull-right btn btn-primary">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </a>
    </h1>
    <table class="table" *ngIf="toggle">
      <tbody>
        <tr>
          <th>Description</th>
          <td>{{toggle.Description}}</td>
        </tr>
        <tr>
          <th>Versions</th>
          <td>{{toggle.EnableInVersions || 'all'}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Current Value</h2>
    <toggle-rollout [toggle]="toggle"></toggle-rollout>
  </div>
</div>
